*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header{
    border: 2px solid red;
     padding: 50px;

    background-color: crimson;


}

header > a{
    color: white;
    text-decoration: none;
    margin: 0px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header > a:hover{
    color: black;
}
section{
    height: 500px;
    width: 1000px;
    margin: auto;
    background-image: linear-gradient(to bottom, grey , rgb(226, 223, 223)
    );
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
section > h1{
    font-size: 40px;
}
section > img{
    padding: 100px;
    width: 400px;
}

footer{
    width: 1000px;
    margin: auto;
    background-color: black;
    text-align: center;
    padding: 50px 0px;
}
footer > a{
    color: white;
    text-decoration: none;

}